* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 602px;
  height: 502px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.grid-square {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
